<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-dark mt-1 mb-5 shadow p-2"
          style="background-color: #607d8b"
        >
          <!-- Container wrapper -->
          <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand mx-5" href="/"><h3>ESHOP SPORT</h3></a>

            <!-- Toggle button -->
            <button
              class="navbar-toggler text-white"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent1"
              aria-controls="navbarSupportedContent1"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
              <ul class="navbar-nav mx-5 me-auto mb-2 mb-lg-0">
                <!-- Link -->
                <li class="nav-item acitve">
                  <a class="nav-link mx-2" href="/"><h5>HOME</h5></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="/shop"><h5>SHOP NOW</h5></a>
                </li>

               
              </ul>

              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ms-5 fs-3 text-light">
                  <a href="/wishlist" class="text-decoration-none text-light"
                    ><i class="ri-heart-line"></i
                  ></a>
                </li>
                <li class="nav-item mx-5 fs-3">
                  <a href="/cart" class="text-decoration-none text-light d-flex"
                    ><i class="ri-shopping-cart-fill"></i
                  ></a>
                </li>
                <li class="nav-item pt-1">
                  <div class="d-flex">
                    <% if (ifuser) { %>

                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="ri-user-fill"></i>
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                     
                        <li>
                          <a class="dropdown-item" href="/profile">profile</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="/orders">orders</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="/logout"
                            ><button class="btn btn-dark">logout</button></a
                          >
                        </li>
                      </ul>
                    </div>

                    <% } else { %>

                    <a href="/login">
                      <button class="btn btn-dark d-flex">
                        <h5 class="mx-2">LOGIN</h5>
                        <i class="ri-login-box-line fs-5"></i></button
                    ></a>

                    <% } %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Container wrapper -->
        </nav>
      </div>
    </header>

    <% if (!productsdetails[0]) { %>
    <br /><br />
    <div class="d-flex justify-content-center mt-5">
      <h1>empty cart !!!!!</h1>
    </div>
    <div class="d-flex justify-content-center">
      <img
        src="/image/empty/emptywishlist.jpg"
        alt=""
        style="height: 550px; width: 35%"
      />
    </div>
    <div class="d-flex justify-content-center mb-5">
      <a href="/"><button class="btn btn-primary">shop now</button></a>
    </div>
    <% } else { %>

    <section class="h-100 gradient-custom">
      <div class="container py-5" id="refresh">
        <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Cart - <%-count %> items</h5>
              </div>

              <div class="card-body">
                <!-- Single item -->
                <% productsdetails.forEach((i) => { %>
                <div id="cartProduct<%-i._id %>" class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div
                      class="bg-image hover-overlay hover-zoom ripple rounded"
                      data-mdb-ripple-color="light"
                    >
                      <img
                        src="/image/productImage/<%-i.mainImage[0].filename %>"
                        class="w-100"
                        alt="Blue Jeans Jacket"
                      />
                      <a href="#!">
                        <div
                          class="mask"
                          style="background-color: rgba(251, 251, 251, 0.2)"
                        ></div>
                      </a>
                    </div>
                    <!-- Image -->
                  </div>

                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong><%-i.productName %></strong></p>
                    <p>Color: blue <%-i.category %></p>
                    <p>Size: M</p>
                    <p value="<%-i.price %>">
                      ₹
                      <span id="price<%-i._id %>" value="<%-i.price %>"
                        ><%-i.price %></span
                      >/-
                    </p>
                    <p><s class="text-danger">₹<%-i.MRP %>/-</s></p>
                    <button
                      type="button"
                      class="btn btn-primary btn-sm me-1 mb-2"
                      data-mdb-toggle="tooltip"
                      title="Remove item"
                      onclick=" deletefromcart(`<%-i._id %>`)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm mb-2"
                      data-mdb-toggle="tooltip"
                      title="Move to the wish list"
                      onclick="addtowishlist(`<%-i._id %>`)"
                    >
                      <i class="fas fa-heart"></i>
                    </button>
                    <!-- Data -->
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Quantity -->
                    <div class="d-flex mb-4" style="max-width: 300px">
                      <button
                        class="btn btn-primary px-3 me-2"
                        onclick="dec(`<%-i._id %>`,`dec`)"
                      >
                        <i class="fas fa-minus"></i>
                      </button>

                      <div class="form-outline" id="quantity">
                        <input
                          id="Qty<%-i._id %>"
                          name="quantity"
                          value="<%-i.cartQuantity %>"
                          type="number"
                          min="1"
                          max="10"
                          class="form-control d-flex justify-content-center"
                        />
                      </div>

                      <button
                        class="btn btn-primary px-3 ms-2"
                        onclick="inc(`<%-i._id %>`,`inc`)"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <!-- Quantity -->
                    <div>
                      <label
                        class="form-label text-danger"
                        id="message<%-i._id %>"
                      ></label>
                    </div>

                    <!-- Price -->
                    <p class="text-start text-md-center">
                      <strong id="total<%-i._id %>"
                        >₹<%-i.productTotal %></strong
                      >
                    </p>
                    <!-- Price -->
                  </div>
                </div>
                <!-- Single item -->

                <hr class="my-4" />
                <% }) %>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <p><strong>Expected shipping delivery</strong></p>
                <p class="mb-0">
                  <% let currentDate = new Date(); let deliveryDateStart = new
                  Date(currentDate.setDate(currentDate.getDate() + 4)); let
                  deliveryDateEnd = new
                  Date(currentDate.setDate(currentDate.getDate() + 3)); %>
                  Expected delivery date:
                  <strong>
                    <%= deliveryDateStart.toLocaleDateString() %>-<%=
                    deliveryDateEnd.toLocaleDateString() %>
                  </strong>
                </p>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body">
                <p><strong>We accept</strong></p>
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                  alt="Visa"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                  alt="American Express"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                  alt="Mastercard"
                />
              
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>

              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <% productsdetails.forEach((i,index) => { %>

                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                    id="delcart<%-i._id %>"
                  >
                    item <%-index+1 %>
                    <span id="totalp<%-i._id %>"><%-i.productTotal %></span>
                  </li>
                  <% }) %>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0"
                  >
                    Shipping
                    <span>Gratis</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <span
                      ><strong id="totalprice"
                        ><%-productsdetails.sum %></strong
                      ></span
                    >
                  </li>
                </ul>

                <form action="/checkout?">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    Go to checkout
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% } %>
    <footer
      class="text-center text-white mt-4"
      style="background-color: #607d8b"
    >
      <hr class="text-dark" />

      <div class="container" style="height: 50px">
        <!-- Section: Social media -->
        <section class="mb-3">
          <!-- Facebook -->
          <a
            class="btn-link btn-floating btn-lg text-white"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn-link btn-floating btn-lg text-white"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn-link btn-floating btn-lg text-white"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn-link btn-floating btn-lg text-white"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- YouTube -->
          <a
            class="btn-link btn-floating btn-lg text-white"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-youtube"></i
          ></a>
        </section>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2); color: #e0e0e0"
      >
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">eshopsport.com</a>
      </div>
    </footer>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </script>
  <script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>


    <script>
      function addtowishlist(data) {
        axios.get("/addtowishlist/" + data);
      }
      function deletefromcart(data) {
        let quantity = document.getElementById("Qty" + data).value;
        console.log(quantity);
        axios
          .get(`/deletefromcart?quantity=${quantity}&data=${data}`)
          .then((result) => {
            console.log(result);
            if (result.data.reload) {
              window.location.reload();
            } else {
              document.getElementById("cartProduct" + data).innerHTML = "";
              document.getElementById("delcart" + data).innerHTML = "";
              document.getElementById(
                "totalprice" + data
              ).innerHTML = `<%-productsdetails.sum %>`;
              window.location.reload();
            }
          });
      }
      function inc(data, cond) {
        document.getElementById("message" + data).textContent = "";
        let quantity = document.getElementById("Qty" + data);
        if (quantity.value >= 10) {
          document.getElementById("message" + data).textContent =
            "reached limit";
        } else {
          axios
            .get(`/incdec?quantity=${quantity.value}&data=${data}&cond=${cond}`)
            .then((response) => {
              if (response.data.success) {
                quantity.value = Number(quantity.value) + 1;
                let price = document.getElementById("price" + data);
                let total = document.getElementById("total" + data);
                total.textContent =
                  Number(quantity.value) * Number(price.textContent);
                document.getElementById("totalp" + data).textContent =
                  total.textContent;
                let totalprice = document.getElementById("totalprice");
                totalprice.textContent =
                  Number(totalprice.textContent) + Number(price.textContent);
              } else {
             
                document.getElementById("message" + data).textContent =
                  "outofstock";
              }
            });
        }
      }
      function dec(data, cond) {
        console.log(cond);
        document.getElementById("message" + data).textContent = "";
        let quantity = document.getElementById("Qty" + data);
        if (quantity.value <= 1) {
          document.getElementById("message" + data).textContent =
            "reached limit";
        } else {
          axios.get(`/incdec?data=${data}&cond=${cond}`).then((response) => {
            console.log(response);
            if (response.data.success) {
              quantity.value = Number(quantity.value) - 1;
              let price = document.getElementById("price" + data);
              let total = document.getElementById("total" + data);
              total.textContent =
                Number(quantity.value) * Number(price.textContent);
              document.getElementById("totalp" + data).textContent =
                total.textContent;
              let totalprice = document.getElementById("totalprice");
              totalprice.textContent =
                Number(totalprice.textContent) - Number(price.textContent);
            }
          });
        }
      }
    </script>
  </body>
</html>
