<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>order confirmation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <section>
        <div class="container-fluid">
          <!-- Navbar -->
          <nav
            class="navbar navbar-expand-lg navbar-dark mt-1 mb-5 shadow p-2"
            style="background-color: #607d8b"
          >
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Navbar brand -->
              <a class="navbar-brand mx-5" href="/"><h3>ESHOP SPORT</h3></a>

              <!-- Toggle button -->
              <button
                class="navbar-toggler text-white"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>

              <!-- Collapsible wrapper -->
              <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent1"
              >
                <ul class="navbar-nav mx-5 me-auto mb-2 mb-lg-0">
                  <!-- Link -->
                  <li class="nav-item acitve">
                    <a class="nav-link mx-2" href="/"><h5>HOME</h5></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#"><h5>MENS</h5></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#"><H5>WOMENS</H5></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#"><H5>BOYS</H5></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#"><H5>GIRLS</H5></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="/contactus"
                      ><H5>CONTACT US</H5></a
                    >
                  </li>
                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item ms-5 fs-3 text-light">
                    <a href="/wishlist" class="text-decoration-none text-light"
                      ><i class="ri-heart-line"></i
                    ></a>
                  </li>
                  <li class="nav-item mx-5 fs-3">
                    <a
                      href="/cart"
                      class="text-decoration-none text-light d-flex"
                      ><i class="ri-shopping-cart-fill"></i
                    ></a>
                  </li>
                  <li class="nav-item pt-1">
                    <div class="d-flex">
                      <% if (ifuser) { %>

                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="ri-user-fill"></i>
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton1"
                        >
                          <li>
                            <a class="dropdown-item" href="#">mohammed </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="/profile">profile</a>
                          </li>
                          <li><a class="dropdown-item" href="#">orders</a></li>
                          <li>
                            <a class="dropdown-item" href="/logout"
                              ><button class="btn btn-dark">logout</button></a
                            >
                          </li>
                        </ul>
                      </div>

                      <% } else { %>

                      <a href="/login">
                        <button class="btn btn-dark d-flex">
                          <h5 class="mx-2">LOGIN</h5>
                          <i class="ri-login-box-line fs-5"></i></button
                      ></a>

                      <% } %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Container wrapper -->
          </nav>
        </div>
      </section>
    </header>

    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="text-left logo p-2 px-5">
              <img src="https://i.imgur.com/2zDU056.png" width="50" />
            </div>

            <div class="invoice p-5">
              <h5>Your order Confirmed!</h5>

              <span class="font-weight-bold d-block mt-4"
                >Hello, <%-user.name %></span
              >
              <span
                >You order has been confirmed and will be shipped in next two
                days!</span
              >
              <div
                class="payment border-top mt-3 mb-3 border-bottom table-responsive"
              >
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <div class="py-2">
                          <span class="d-block text-muted">Order Date</span>
                          <span><%-orderDetails.createdAt %></span>
                        </div>
                      </td>

                      <td>
                        <div class="py-2">
                          <span class="d-block text-muted">Order Id</span>
                          <span><%-orderDetails._id %></span>
                        </div>
                      </td>

                      <td>
                        <div class="py-2">
                          <span class="d-block text-muted">Payment</span>
                          <span><%-orderDetails.paymentType %></span>
                        </div>
                      </td>

                      <td>
                        <div class="py-2">
                          <span class="d-block text-muted"
                            >Shiping Address</span
                          >
                          <span><%-orderDetails.address.address %></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="product border-bottom table-responsive">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <h1 class="d-flex justify-content-center" id="return<%= orderDetails._id %>">
                          Order Status:
                          <% if (orderDetails.orderStatus === 'pending') { %>
                            <span class="text-warning"> <%= orderDetails.orderStatus %> </span>
                          <% } else if (orderDetails.orderStatus === 'shipped') { %>
                            <span class="text-primary"> <%= orderDetails.orderStatus %> </span>
                          <% } else if (orderDetails.orderStatus === 'out for delivery') { %>
                            <span class="text-warning"> <%= orderDetails.orderStatus %> </span>
                          <% } else if (orderDetails.orderStatus === 'delivered') { %>
                            <span class="text-success"> <%= orderDetails.orderStatus %> </span>
                            <button onclick="returnProduct('<%= orderDetails._id %>')">Return</button>
                          <% } else { %>
                            <span class="text-danger">  <%= orderDetails.orderStatus %></span>
                          
                          <% } %>
                        </h1>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="product border-bottom table-responsive">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td width="20%">
                        <img
                          src="/image/productImage/<%-orderDetails.product[0].mainImage[0].filename %>"
                          width="90"
                        />
                      </td>

                      <td width="60%">
                        <span class="font-weight-bold"
                          ><%-orderDetails.product[0].productName %></span>
                        <div class="product-qty">
                          <span class="d-block"
                            >Quantity:<%-orderDetails.product[0].cartQuantity
                            %></span>
                          <span>Color:Dark</span>
                          <br />
                          <span>price:<%-orderDetails.product[0].price %></span>
                        </div>
                      </td>
                      <td width="20%">
                        <div class="text-right">
                          <span class="font-weight-bold"
                            ><%-orderDetails.productTotal %></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row d-flex justify-content-end">
                <div class="col-md-5">
                  <table class="table table-borderless">
                    <tbody class="totals">
                      <tr>
                        <td>
                          <div class="text-left">
                            <span class="text-muted">Subtotal</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-right">
                            <span> ₹<%-orderDetails.total %> </span>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="text-left">
                            <span class="text-muted">Shipping Fee</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-right text-success">
                            <span>free</span>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="text-left">
                            <span class="text-muted">Tax Fee</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-right text-success">
                            <span>free</span>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="text-left">
                            <span class="text-muted">Discount</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-right">
                            <span class="text-success"
                              >₹ <% if (orderDetails.coupon) { %>
                              <%-orderDetails.coupon %> <% } else { %> 0 <% } %>
                              /-</span>
                            
                          </div>
                        </td>
                      </tr>

                      <tr class="border-top border-bottom">
                        <td>
                          <div class="text-left">
                            <span class="font-weight-bold">Subtotal</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-right">
                            <span class="font-weight-bold text-success">
                              ₹<%-orderDetails.amountPayable %> /-</span     >
                       
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <p>
                We will be sending shipping confirmation email when the item
                shipped successfully!
              </p>
              <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
              <span>ESHOP SPORT TEAM</span>
            </div>

            <div class="d-flex justify-content-between footer p-3">
              <span>Need Help? visit our <a href="#"> help center</a></span>
              <span>12 June, 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/order"><button>back to shop</button></a>
    </div>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      function returnProduct(data){
        console.log(data,"233333333333");
axios.get(`/productReturn?data=${data}`).then((result)=>{
  if(result.data.success){
    let r=document.getElementById('return'+data).innerHTML=`Order Status:<span class="text-danger">Returned</span>`
    console.log(r);
  }
})
      }
    </script>
  </body>
</html>
