<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>coupon management</title>
    <link
      rel="canonical"
      href="https://www.wrappixel.com/templates/adminwrap-lite/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/assets/node_modules/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="/assets/node_modules/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <header>
      <!-- As a link -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h4>
              <strong>Eshop Sport Admin</strong>
            </h4>
          </a>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar bg-transparent">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin"
                aria-expanded="false"
                ><i class="fa fa-home"></i
                ><span class="hide-menu">Dashboard</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/userManagement"
                aria-expanded="false"
                ><i class="fa fa-users"></i
                ><span class="hide-menu">user management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/categoriesManagement"
                aria-expanded="false"
                ><i class="fa fa-list"></i
                ><span class="hide-menu">categories</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/productManagement"
                aria-expanded="false"
                ><i class="fa fa-shopping-cart"></i
                ><span class="hide-menu">Product</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/banner"
                aria-expanded="false"
              >
                <i class="fa fa-bookmark-o"></i
                ><span class="hide-menu">banner</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/couponManagement"
                aria-expanded="false"
                ><i class="ri-coupon-3-fill"></i
                ><span class="hide-menu">coupon </span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/orderManagement"
                aria-expanded="false"
                ><i class="ri-list-unordered"></i
                ><span class="hide-menu">order Management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/salesReport"
                aria-expanded="false"
                ><i class="ri-file-chart-line"></i
                ><span class="hide-menu">sales report</span></a
              >
            </li>
            <li>
              <a href="/admin/logout"
                ><button class="btn btn-light">
                  logout<i class="ri-logout-circle-line fs-5"></i></button
              ></a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>

    <div class="page-wrapper">
      <div class="container-fluid">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          add coupon
        </button>
        <label for="" class="text-danger"><%-couponErr %></label>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  add coupon
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="d-flex justify-content-center">
                  <form
                    class="needs-validation"
                    action="/admin/couponManagement"
                    method="post"
                    role="form"
                    id="addCoupon"
                    onsubmit="return submitform(event)"
                  >
                    <div id="error"></div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">coupon name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="couponName"
                          placeholder="coupon name"
                          required
                        />
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">code</label>
                        <input
                          type="number"
                          class="form-control"
                          name="couponCode"
                          id="couponCode"
                          placeholder="coupon code"
                          value=""
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="email">Minimum amount of purchase </label>
                        <input
                          type="number"
                          class="form-control"
                          name="minamount"
                          id="MinAmount"
                          placeholder="minimum amount"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="address">discount</label>
                        <input
                          type="number"
                          class="form-control"
                          name="discount"
                          id="discount"
                          placeholder="discount"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="address2">Max Discount Amount </label>
                        <input
                          type="number"
                          class="form-control"
                          name="maxdiscount"
                          id="maxDiscount"
                          placeholder="maxdiscount"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="country">expiry date</label>
                        <input
                          type="date"
                          class="form-control"
                          name="expiry"
                          id="mydate"
                          placeholder="dd-mm-yyyy"
                          min="{{ today | date('Y-m-d') }}"
                          required
                        />
                      </div>
                    </div>

                    <div class="d-flex justify-content-center my-5">
                      <button class="btn btn-primary" type="submit">
                        add Coupon
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section>
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th scope="col">number</th>
              <th scope="col">name</th>
              <th scope="col">coupon code</th>
              <th scope="col">minamount</th>
              <th scope="col">discount</th>
              <th scope="col">maxdiscount</th>

              <th scope="col">list</th>
              <th scope="col">expiry</th>
              <th scope="col">edit/delete</th>
            </tr>
          </thead>
          <tbody>
            <% couponinfo.forEach((i,index) => { %>

            <tr id="coupon<%-i._id %>">
              <td scope="row"><%- index+1 %></td>
              <td><%-i.name %></td>
              <td><%- i.couponCode %></td>
              <td><%- i.minamount %></td>
              <td><%- i.discount %></td>
              <td><%-i.maxdiscount %></td>

              <td>
                <button
                  class="btn btn-success btn-sm"
                  id="listbtn<%-i._id %>"
                  onclick="list(`<%-i._id %>`)"
                  value="    <%-i.list %>"
                >
                  <%-i.list %>
                </button>
              </td>
              <td><%- i.expiry.toLocaleDateString() %></td>
              <td class="d-flex">
                <button
                  type="button"
                  class="btn border-0"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal<%-i._id %>"
                >
                  <i class="ri-pencil-line mx-2 fs-4 text-dark"></i>
                </button>
                <!-- modal2 -->
                <div
                  class="modal fade"
                  id="exampleModal<%-i._id %>"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          edit coupon
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="d-flex justify-content-center">
                          <form
                            class="needs-validation"
                            action="/admin/editcoupon?id=<%-i._id %>"
                            method="post"
                         role="form"
                            required
                          >
                            <div class="row">
                              <div class="col-md-6 mb-3">
                                <label for="firstName">coupon name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="name"
                                  id="firstName"
                                  placeholder="coupon name"
                                  value="<%-i.name %>"
                                  required
                                />
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="lastName">code</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  name="couponCode"
                                  placeholder="coupon code"
                                  value="<%-i.couponCode %>"
                                  required
                                />
                              </div>

                              <div class="mb-3">
                                <label for="email"
                                  >Minimum amount of purchase
                                </label>
                                <input
                                  type="email"
                                  class="form-control"
                                  name="minamount"
                                  min="1"
                                  value="<%-i.minamount %>"
                                  placeholder="minimum amount"
                                />
                              </div>
                              <div class="mb-3">
                                <label for="address">discount (%)</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  name="discount"
                                  max="50"
                                  value="<%-i.discount %>"
                                  required
                                />
                              </div>
                              <div class="mb-3">
                                <label for="address2"
                                  >Max Discount Amount
                                </label>
                                <input
                                  type="number"
                                  class="form-control"
                                  name="maxdiscount"
                                  value="<%-i.maxdiscount %>"
                                />
                              </div>
                              <div class="mb-3">
                                <label for="country">expiry date</label>
                                <input
                                  class="form-control text-danger"
                                  name="expiry"
                                  disabled
                                  placeholder="<%-i.expiry.toLocaleDateString()%>"
                                />
                              </div>

                              <div class="mb-3">
                                <label for="country">update expiry date</label>
                                <input
                                  type="date"
                                  class="form-control"
                                  name="expiry"
                                  id="mydate1"
                                  placeholder="dd-mm-yyyy"
                                  min="{{ today | date('Y-m-d') }}"
                                  required
                                />
                              </div>
                            </div>

                            <div class="d-flex justify-content-center my-5">
                              <button class="btn btn-primary" type="submit">
                                edit Coupon
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <i
                  class="ri-delete-bin-6-fill fs-4 mx-3 text-danger"
                  onclick="return confirm('are you sure you want to delete?'),deletecoupon(`<%-i._id %>`)"
                ></i>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </div>
    <footer class="footer">
      © 2023 eshopsport by
      <a href="/views/adminPages/adminHome.ejs">eshopsport.com</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      function list(data) {
        let value = document.getElementById("listbtn" + data);
        axios.get("/admin/listcoupon/" + data).then((response) => {
          if (response.data.success == true) {
            value.textContent = "true";
          } else {
            value.textContent = "false";
          }
        });
      }
      function deletecoupon(data) {
        axios.get("/admin/deletecoupon/" + data).then((response) => {
          console.log(response);

          let trdata = document.getElementById("coupon" + data);
          console.log(trdata);
          trdata.innerHTML = "";
        });
      }
      const dateInput = document.getElementById("mydate");
      const dateInput1 = document.getElementById("mydate1");
      const today = new Date().toISOString().split("T")[0];

      dateInput.setAttribute("min", today);
      dateInput1.setAttribute("min", today);
    </script>
    <script src="/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/node_modules/d3/d3.min.js"></script>
    <script src="/assets/node_modules/c3-master/c3.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
    <script>
      const form = document.querySelector("#addCoupon");
      const couponName = form.querySelector("#couponName");
      const couponCode = form.querySelector("#couponCode");
      const MinAmount = form.querySelector("#minAmount");
      const discount = form.querySelector("#discount");
      const maxDiscount = form.querySelector("#maxDiscount");
      const errorElement = document.querySelector("#error");

      function hideErrorMessage() {
        errorElement.innerHTML = "";
      }

      function showErrorMessage(message) {
        errorElement.innerHTML = `<div class="alert alert-danger border border-warning w-80 d-flex justify-content-center fw-bold py-2 mx-4" role="alert">${message}</div>`;
        setTimeout(() => {
          errorElement.innerHTML = `<div></div>`;
        }, 5000);
      }

      function submitform(data) {
        const startsWithSpace = /^\s/;
        const isNegativeNumber = /^-\d/;

        if (
          couponName.value.match(startsWithSpace) ||
          couponCode.value.match(startsWithSpace) ||
          discount.value.match(startsWithSpace) ||
          MinAmount.value.match(startsWithSpace) ||
          maxDiscount.value.match(startsWithSpace)
        ) {
          showErrorMessage("Space is not allowed");
          return false;
        } else if (
          couponName.value.match(isNegativeNumber) ||
          discount.value.match(isNegativeNumber) ||
          MinAmount.value.match(isNegativeNumber) ||
          maxDiscount.value.match(isNegativeNumber) ||
          couponCode.value.match(isNegativeNumber)
        ) {
          showErrorMessage("Negative number is not allowed");
          return false;
        } else if (
          couponName.value === "" ||
          discount.value === "" ||
          couponCode.value === "" ||
          MinAmount.value === "" ||
          maxDiscount.value === ""
        ) {
          showErrorMessage("Null is not allowed");
          return false;
        } else if (
          couponName.value === "0" ||
          discount.value === "0" ||
          couponCode.value === "0" ||
          MinAmount.value === "0" ||
          maxDiscount.value === "0"
        ) {
          showErrorMessage("Zero is not allowed");
          return false;
        } else if ((discount.value < MinAmount.value)) {
          showErrorMessage("is not allowed");
          return false;
        } else {
          hideErrorMessage();
          return true;
        }
      }
    </script>
  </body>
</html>
