<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>product</title>
    <link
      rel="canonical"
      href="https://www.wrappixel.com/templates/adminwrap-lite/"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
    crossorigin="anonymous"
  />
    <!-- Bootstrap Core CSS -->
    <link
      href="/assets/node_modules/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="/assets/node_modules/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <header>
      <!-- As a link -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h2 style="margin-left: -10px">
              <strong>Eshop Sport Admin</strong>
            </h2>
          </a>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar bg-transparent">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin"
                aria-expanded="false"
                ><i class="fa fa-home"></i
                ><span class="hide-menu">Dashboard</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/userManagement"
                aria-expanded="false"
                ><i class="fa fa-users"></i
                ><span class="hide-menu">user management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/categoriesManagement"
                aria-expanded="false"
                ><i class="fa fa-list"></i
                ><span class="hide-menu">categories</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/productManagement"
                aria-expanded="false"
                ><i class="fa fa-shopping-cart"></i
                ><span class="hide-menu">Product</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/banner"
                aria-expanded="false"
              >
                <i class="fa fa-bookmark-o"></i
                ><span class="hide-menu">banner</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/couponManagement"
                aria-expanded="false"
                ><i class="ri-coupon-3-fill"></i
                ><span class="hide-menu">coupon </span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/orderManagement"
                aria-expanded="false"
                ><i class="ri-list-unordered"></i
                ><span class="hide-menu">order Management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/salesReport"
                aria-expanded="false"
                ><i class="ri-file-chart-line"></i
                ><span class="hide-menu">sales report</span></a
              >
            </li>
            <li>
              <a href="/admin/logout"
                ><button class="btn btn-light">
                  logout<i class="ri-logout-circle-line fs-5"></i></button
              ></a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">product</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">product</li>
            </ol>
          </div>
        </div>
      </div>

      <a href="/admin/addProduct"
        ><button class="btn btn-primary">add product</button></a
      >

      <section>
        <table class="display" id="myTable">
          <thead>
            <tr>
              <th scope="col">number</th>
              <th scope="col">name</th>
              <th scope="col">category</th>
              <th scope="col">quantity</th>
              <th scope="col">MRP</th>
              <th scope="col">price</th>
              <th scope="col">mainImage</th>
              <th scope="col">list</th>
              <th scope="col">account created date</th>
              <th scope="col">edit</th>
            </tr>
          </thead>
          <tbody>
            <% productinfo.forEach((i,index) => { %>
            <tr>
              <td scope="row"><%- index+1 %></td>
              <td><%-i.productName %></td>
              <td><%- i.category %></td>
              <td><%- i.quantity %></td>
              <td><%- i.MRP %></td>
              <td><%- i.price %></td>
              <td>
                <img
                  src="/image/productImage/<%- i.mainImage[0].filename %>"
                  width="40"
                  height="26"
                />
              </td>

              <td>
                <button
                  class="btn btn-success btn-sm"
                  id="listbtn<%-i._id %>"
                  onclick="unlist(`<%-i._id %>`)"
                >
                  <%-i.list %>
                </button>
              </td>
              <td><%- i.uploadedAt.toLocaleString() %></td>
              <td class="d-flex">
                <a href="/admin/editproduct/<%-i._id %>">
                  <i class="ri-pencil-line mx-2 fs-4 text-dark"></i
                ></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </div>
      <footer class="footer">
        © 2023 eshopsport by
        <a href="/views/adminPages/adminHome.ejs">eshopsport.com</a>
      </footer>
  
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      function unlist(data) {
        axios.get("/admin/productunlist/" + data).then((result) => {
          let value = document.getElementById("listbtn" + data);

          if (result.data.success == true) {
            value.textContent = "false";
          } else {
            value.textContent = "true";
          }
        });
      }
    </script>

    <script src="/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->

    <script src="/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/node_modules/d3/d3.min.js"></script>
    <script src="/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
  </body>
</html>
