<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>add product</title>
    <link
      rel="canonical"
      href="https://www.wrappixel.com/templates/adminwrap-lite/"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/assets/node_modules/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="/assets/node_modules/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  
  </head>

  <body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.ejs">
              <!-- Logo icon --><b>
               <img
                  src="/assets/images/logo-icon.png"
                  alt="homepage"
                  class="dark-logo"
                />
                <!-- Light Logo icon -->
                <img
                  src="/assets/images/logo-light-icon.png"
                  alt="homepage"
                  class="light-logo"
                />
              </b>
              <!--End Logo icon -->
              <!-- Logo text --><span>
                <!-- dark Logo text -->
                <img
                  src="../assets/images/logo-text.png"
                  alt="homepage"
                  class="dark-logo" />
                <!-- Light Logo text -->
                <img
                  src="../assets/images/logo-light-text.png"
                  class="light-logo"
                  alt="homepage"
              /></span>
            </a>
          </div>
         <div class="navbar-collapse">
             <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="fa fa-bars"></i
                ></a>
              </li>
               <li class="nav-item hidden-xs-down search-box">
                <a
                  class="nav-link hidden-sm-down waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="fa fa-search"></i
                ></a>
                <form class="app-search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search & enter"
                  />
                  <a class="srh-btn"><i class="fa fa-times"></i></a>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
              <li class="nav-item dropdown u-pro">
                <a
                  class="nav-link dropdown-toggle waves-effect waves-dark profile-pic"
                  href="#"
                  id="navbarDropdown"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><img
                    src="../assets/images/users/1.jpg"
                    alt="user"
                    class=""
                  />
                  <span class="hidden-md-down"> Mohammed Risvan&nbsp;</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin"
                  aria-expanded="false"
                  ><i class="fa fa-home"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/userManagement"
                  aria-expanded="false"
                  ><i class="fa fa-users"></i
                  ><span class="hide-menu">user management</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/categoriesManagement"
                  aria-expanded="false"
                  ><i class="fa fa-list"></i
                  ><span class="hide-menu">categories</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/productManagement"
                  aria-expanded="false"
                  ><i class="fa fa-shopping-cart"></i
                  ><span class="hide-menu">Product</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/banner"
                  aria-expanded="false"
                >
                <i class="fa fa-bookmark-o "></i
                  ><span class="hide-menu">banner</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/couponManagement"
                  aria-expanded="false"
                  ><i class="ri-coupon-3-fill"></i><span class="hide-menu">coupon </span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/orderManagement"
                  aria-expanded="false"
                  ><i class="ri-list-unordered"></i><span class="hide-menu">order Management</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/salesReport"
                  aria-expanded="false"
                  ><i class="ri-file-chart-line"></i><span class="hide-menu">sales report</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">product</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">product edit</li>
              </ol>
            </div>
          </div>
           <section class="Container">
            <form
              class=""
              action="/admin/editproduct/<%-productinfo._id %>"
              method="post"
              enctype="multipart/form-data"
              role="form"
              id="addProduct"
              onsubmit="return submitform(event)"
            >
            <div id="error"></div>
            
              <div class="form-group">
                <label for="exampleFormControlInput1">product name</label>
                <input
                  name="productName"
                  required
                  value="<%-productinfo.productName %>"
                  class="form-control"
                  id="productName"
                  placeholder="eg:full sleeve jersey"
                
                />
              </div>

              <div class="form-group">
                <label>categories</label>
                <select class="btn btn-primary btn-sm" name="category">
                  <% categoryinfo.forEach((i) => { %>

                  <option name="category">
                    <%- i.name %>
                  </option>

                  <% }) %>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">quantity</label>
                <input
                  name="quantity"
                  value="<%- productinfo.quantity  %>"
                  type="number"
                  required
                  class="form-control"
                  id="quantity"
                  placeholder="eg:1"
                  
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">MRP</label>
                <input
                  type="number"
                  required
                  value="<%- productinfo.MRP  %>"
                  name="MRP"
                  class="form-control"
                  id="MRP"
                  placeholder="eg:₹1000"
               
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">price</label>
                <input
                  type="number"
                  value="<%- productinfo.price  %>"
                  required
                  name="price"
                  class="form-control"
                  id="price"
                  placeholder="eg:₹780"
                 
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">main image</label>
                <br>
                <input
                  type="file" 
                  name="mainImage"
                  class="form-control-file"
                  id="exampleFormControlFile1"
                  
                />
                <div>
                  <img
                  src="/image/productImage/<%-productinfo.mainImage[0].filename %>"
                  class="img-fluid"
                  alt=""
                style="height: 40px
                ;width: 40px;"
                />
                </div>
              
                <p class="text-danger"><%-imageerr %></p>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">sub images</label>
                <br>
                <input
                  type="file"
                  name="subImages"
                  multiple
                  class="form-control-file"
                  max="2"
                  id="exampleFormControlFile1"
                />
                <div class="row">
                  <!--Grid column-->
                  <% productinfo.subImages.forEach(i => { %>
                   
               
                  <div
                    class="col-lg-4 col-md-12 mb-4 bg-image hover-zoom ripple ripple-surface ripple-surface-light" id="subImages<%-i.filename %>"
                  >
                    <img
                      src="/image/productImage/<%-i.filename %>"
                      class="img-fluid"
                      alt=""
                      style="height: 40px
                      ;width: 40px;"
                    />
                    <button
                    type="button"
                    class="btn btn-primary btn-sm me-1 mb-2"
                    data-mdb-toggle="tooltip"
                    title="Remove item"
                    onclick=" deleteFromProductEdit(`<%-i.filename %>`,`<%-productinfo._id %>`)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>

                  </div>
                  <!--Grid column-->
                  <% }) %>
                  
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" required type="text" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Write something about the product..."><%- productinfo.description %></textarea>
              </div>
              
                <button type="submit" class="btn btn-primary btn-sm">
                  submit
                </button>
              </div>
            </form>
          </section>
        </div>
        <footer class="footer">
          © 2023 eshopsport by
          <a href="/views/adminPages/adminHome.ejs">eshopsport.com</a>
        </footer>
        </div>
      </div>
    <script src="/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
   
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/node_modules/d3/d3.min.js"></script>
    <script src="/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      const form = document.querySelector("#addProduct");
     const productName = form.querySelector("#productName");
     const quantity = form.querySelector("#quantity");
     const MRP= form.querySelector("#MRP");
     const price = form.querySelector("#price");
     const errorElement = document.querySelector("#error");
     function hideErrorMessage() {
       errorElement.innerHTML = "";
     }
     function showErrorMessage(message) {
       errorElement.innerHTML = `<div class="alert alert-danger border border-warning w-80 d-flex justify-content-center fw-bold py-2 mx-4" role="alert" >${message}</div>`;
       setTimeout(() => {
         errorElement.innerHTML = `<div></div>`;
       }, 5000);
     }

     
       
    





     function submitform(data){
 var startsWithSpace = /^\s/;
 var isNegativeNumber = /^-\d/;

 if ( productName.value.match(startsWithSpace)||quantity.value.match(startsWithSpace)||MRP.value.match(startsWithSpace)||price.value.match(startsWithSpace)) {
   showErrorMessage("space is not allowed");
         return false;
  
 } else if (productName.value.match(isNegativeNumber)||quantity.value.match(isNegativeNumber)||MRP.value.match(isNegativeNumber)||price.value.match(isNegativeNumber)) {

    showErrorMessage("negative number is not allowed");
         return false;
 }  else if (productName.value==0||quantity.value==0||MRP.value==0||price.value==0) {

showErrorMessage("0  is not allowed");
    return false;
} 
 
 else {
   hideErrorMessage();
       return true;
 }
}

   </script>
    <script>
     
      function deleteFromProductEdit(data,pId) {
        console.log('22222',data,pId);
        axios.get(`/admin/deleteFromProductEdit?data=${data}&pId=${pId}`).then((result)=>{
          if(result.data.success){
document.getElementById('subImages' +data).textContent=""
          }
        })
       
        
      }
    </script>
  </body>
</html>
